body{
	
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
  	background-size: 2em 2em;
  	background-color: #fff;
  	font-family: 'Roboto Slab', serif;
}

.wrapper{
	width: 85%;
	max-width: 960px;
	margin:5rem auto;
	padding:0 2rem 4rem;
	border: 1px solid #3b3b3b;
	border-radius: 10px;
	box-shadow: 10px 10px 20px #c1c1c1;
	position: relative;
	background: white;
}

.head_resume{
	text-align: center;
}
article{
	padding-left: 1.5rem;
}
.MyInfo{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-column-gap: 50px;
}
.MyInfo__img{
	width: 100%;
	height: 100%;
	transition: 0.7s;
	border-radius: 30px;
}

.MyInfo__container-info{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
h2{
	display: inline-block;
}
h2:after{
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	transition: 1s;
}
h2:hover:after{
	width: 100%;
	background: black;
	transition: 0.7s;
}


.Skills{
	position: relative;
}
.Skills__container-skills li span{
	display: none;
	opacity: 1;
	transition: 1s;
}
.detail:hover + span{
	display: inline-block;
	position:absolute;
	top: 0;
	left: 150px;
	animation: 0.5s show;
	transition:1s ease;
}
@keyframes show{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}



.Contacts__container-contacts{
	display: grid;
	grid-template-columns: 200px 1fr;
}
.container-contacts__fields-value p a{
	text-decoration: none;
	color:black;
	
}




@media only screen and (max-width: 990px){
	.MyInfo{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 100%;
	}
	.MyInfo__img{
		width: 60%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 468px){
	.MyInfo__img{
		width: 100%;
		margin: 0;
	}
	.Contacts__container-contacts {
	    grid-template-columns: 100px 1fr;
	}
}