html{scroll-behavior: smooth;}
body{
	background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
  	background-size: 2em 2em;
  	background-color: #fff;
  	font-family: 'Roboto Slab', serif;
}

.wrapper{
	width: 85%;
	max-width: 960px;
	margin:5rem auto;
	padding:0 2rem 4rem;
	border: 1px solid #3b3b3b;
	border-radius: 10px;
	box-shadow: 10px 10px 20px #c1c1c1;
	position: relative;
	background: white;
}

.head_resume{
	text-align: center;
}
.head_resume h2{
	font-size: 36px;
}
.menu{
	border-top:2px solid black;
	border-bottom:2px solid black;
	padding: 15px 0;
	border-radius: 40px;
	margin-top: 40px;
	text-align: center;
	background: white;
	position: sticky;
	top: 15px;
}
.menu a{
	text-decoration: none;
	color: black;
	margin:0 20px;
	padding: 15px;
	border-radius: 10px;
	transition: 0.5s;
}
.menu a:hover{
	color: white;
	background: black;
	transition: 0.3s;
}
article{
	padding-left: 1.5rem;
}
.MyInfo{
	min-height: 280px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-column-gap: 50px;
}
.MyInfo__img{
	width: 100%;
	height: 100%;
	transition: 0.7s;
	border-radius: 30px;
}

.MyInfo__container-info{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
h2{
	display: inline-block;
}
h2:after{
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	transition: 1s;
}
h2:hover:after{
	width: 100%;
	background: black;
	transition: 0.7s;
}


.Skills{
	position: relative;
}
.Skills__container-skills li span{
	display: none;
	opacity: 1;
	transition: 1s;
}



.Works{
	display: grid;
	grid-template-columns: repeat(3,minmax(150px,1fr));
	grid-gap: 20px;
}
.items{
	min-width: 150px;
	min-height: 150px;
	height: 100%;
	text-align: center;
	border: 5px solid black;
	border-radius: 10px;
	transition: 0.3s;
}
.items:nth-child(odd){
	background: black;
	color: white;
}
.items:hover{
	transform: translateY(-5px);
	transition: 0.2s;
	box-shadow:5px 5px 10px #c1c1c1; 
}
.items_text,.items_description{
	height: 30%;
	line-height: 45px;
	font-size: 30px;
}
.items_text + .items_description{
	height: 30%;
	font-size: 20px;
}
.items a{
	display: block;
	width: 100%;
	background: black;
	padding: 10px 0;
	color: white;
	font-weight: bold;
	text-decoration: none;
	transition: 0.4s;
}
.items:nth-child(odd) a{
	background: white;
	color: black;
}
.items a:hover{
	transform: translateY(-5px);
	transition: 0.2s;
}





.Contacts__container-contacts{
	display: grid;
	grid-template-columns: 200px 1fr;
}
.container-contacts__fields-value p a{
	text-decoration: none;
	color:black;
	
}




@media only screen and (max-width: 990px){
	.MyInfo{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 100%;
	}
	.MyInfo__img{
		width: 60%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 468px){
	.MyInfo__img{
		width: 100%;
		height: 300px;
		margin: 0;
	}
	.Contacts__container-contacts {
	    grid-template-columns: 100px 1fr;
	}
}