body{box-sizing: border-box;}
.wrapper{
	width: 300px;
	height: 300px;
	border: 2px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
#player{
	width: 100px;
	height: 20px;
	background: black;
	color: white;
	text-align: center;
	font-size: 18px;
	margin: 50px auto 0;
	padding: 10px 20px;
	border-radius: 10px;
}
.btn{
	border: 2px solid black;
	font-size: 80px;
}
.btn:hover{
	border: 2px solid green;
}