*{
	box-sizing: border-box;
}
:root{
	--white:#F5EAEA;
	--green:#7FCD91;
	--grey:#5B5656;
	--text:#0D0C0C;
}
.wrapper{
	min-width: 320px;
	max-width: 768px;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding:0 0 20px;
	background: var(--grey)
}
.wrapper__head{
	height: 95px;
	min-width: 320px;
	max-width: 768px;
	width: 100%;
	font-size:1.5rem;
	text-align: center;
	line-height: 95px;
	background: var(--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
}


.wrapper__main{
	min-height:510px;
	height: calc(100vh - 95px);
	background: var(--green);
	padding:140px  0 45px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: grid;
	align-items: center;
}
.menu__items{
	width: 265px;
	height: 50px;
	background:var(--white);
	margin:0 0 5vh calc(100% - 265px);
	border-radius: 10px 0 0 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu__items a{
	height: 100%;
	text-decoration: none;
	text-align: center;
	color: var(--text);
	display: grid;
	grid-template-columns: 50px 215px;
}
.menu__items:last-child{
	width: 215px;
	margin:10vh 0 0 calc(100% - 215px);
	padding-left:15px;
}
.menu__items:last-child a{
	grid-template-columns: 30px 185px;
}
.menu__items img{
	height: 30px;
	width: 30px;
	align-self: center;
}
.menu__items:last-child .items__text{
	width: 70%;
	margin-left: 10px;
}

.items__num{
	height: 50px;
	width: 50px;
	display: inline-block;
	font-size: 1.723125rem;
	text-align: center;
	line-height: 50px;
	color: var(--white);
	background: var(--grey);
	border-radius: 10px 0 0 10px;
}
.items__text{
	display: inline-block;
	width: 209px;
	height: 100%;
	line-height: 50px;
	color: var(--text);
	text-align: center;
}


footer{
	height: 95px;
	padding: 33px 0 22px
}
.footer__btn{
	height: 40px;
	min-width: 135px;
	width: 135px;
	line-height: 40px;
	text-align: center;
	background: var(--white);
	border-radius: 0 10px 10px 0;
	padding-left: 5px;
	display: grid;
	grid-template-columns: 25px 105px;
}
.footer__btn img{
	height: 25px;
	width: 25px;
	align-self: center;
}
.btn__text{
	width: 100%;
}
