@media screen and (min-width: 320px) and (max-width: 768px){
	header{
		height: 170px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 70px;
		grid-gap: 0%;
		text-align: center;
	}
	.logo{
		width: calc(100% - 20px);
		margin-left: 20px;
	}
	.img-logo{
		width: 80px;
		height: 80px;
		margin: auto;
	}
	.text-logo {
    	font-size: 1.85em;
    	margin-left: 0;
	}
	.wallet{
		text-align: center;
		width: 100%;
		font-size:1.1em;
	}
	
	.screen-1{
    	max-width: 1000px;
    	height: 450px;
		background: url(../img/bg-screen-1.jpg) 50% 100% no-repeat / cover;
	}
	.head-1{
		width: 100%;
		margin:0 auto;
		font-size: 2.675em;
    	line-height: 50px;
    	text-align: center;
	}
	.button{
		margin:85px auto 0;
		width: 200px;
    	height: 70px;
    	font-size: 2em;
    	line-height: 65px;
	}

	
	.h1-screen-2, .h1 {
    	margin-bottom: 25px;
    	font-size: 1.75em;
    }
	.rules {
		margin-left: 30px;
    	grid-template-columns: 50px 1fr;
    	grid-template-rows: 115px 1fr 200px;
    	grid-row-gap: 40px;
    }
    .rule {
    	width: 30px;
   		height: 30px;
   		border: 3px solid #1a2233;
   		font-size: 1.4625em;
   		line-height: 28px;
   	}
    .rule-text {
    	font-size: 1.1625em;
	}

    .screen-3 {
    	height: 1000px;;
	}
	.h1-screen-3 {
    	margin-bottom: 35px;
	}
	.orders {
	    height: 930px;
	    grid-template-columns: 225px;
	    grid-template-rows: 235px 355px 340px;
	    grid-column-gap: 0px;
	}
	.order{
		width: 225px;
	}
	.order:before{
		width: 30px;
    	height: 30px;
    	bottom: 90%;
    	border: 4px solid #1a2233;
    	font-size: 1.6625em;
    	line-height: 28px;
	}
	.order:nth-child(3):before{
		font-size: 1.6375em;
		line-height: 27px;
	}
	.order-text {
	    font-size: 2.3625em;
	    line-height: 50px;
	}
	.order-text span {
    	font-size: 20px;
	}
	.order .button {
	    width: 160px;
	    height: 55px;
	    line-height: 50px;
	    margin: 0 auto;
	    font-size: 1.7em;
	}

	footer {
  	  height: 70px;
	}
	.text{
		font-size: 1em;
	}
	.model-is {
   		margin-left: 0px;
    	margin-top: 25px;
    	text-align: center;
	}

}
@media screen and (min-width: 481px) and (max-width: 768px){
	header {
	    height: 130px;
	    grid-template-columns: 2fr 1fr;
	    grid-template-rows: 1fr;
	}
	.logo {
	    grid-template-columns: 1fr 1.5fr;
	    grid-column-gap: 1%;
	}
	.text-logo {
    	font-size: 2.25em;
    	min-width: 220px;
	}

	
	.head-1 {
	    font-size: 4.375em;
	    line-height: 60px;
	}
	.button {	
	    font-size: 2.5em;
	}


	.h1-screen-2, .h1 {
    	font-size: 2.05em;
	}
	.rule {
    	font-size: 1.6625em;
    }
	.rule-text {
    	font-size: 1.4625em;
	}


	.order:before {
	    font-size: 1.7625em;
	}
	.order:nth-child(2):before {
    	bottom: 88%;
	}
	.order .button {
	    font-size: 2em;
	}


	.text {
    	font-size: 1.5em;
	}
}


@media screen and (min-width: 768px) and (max-width: 992px){
	.header{
		grid-template-columns: 1fr 1fr;
	}
	.text-logo {
    	font-size: 3em;
	}
	.wallet {
    	font-size: 1.2em;
    	width: 100%;
	}
}


@media screen and (min-width: 992px) and (max-width: 1024px){
}


@media screen and (min-width: 1024px) and (max-width: 1200px){}

@media screen and (min-width: 1200px) and (max-width: 1600px){}

@media screen and (min-width: 1600px){}