body{
	background:#feead4;
	font-family:Candara;
	font-weight: bold;
	font-size: 16px;
}
header{
	max-width: 1000px;
	height: 135px;
	background: #feead4;
	border-bottom:3px solid #cb998b;
	margin: 0 auto;
	color: #1a2233;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 7%;
	align-items: center;
}
.logo{
	width: 500px;
	height: 100px;
	margin-left: 40px;
	display: grid;
	grid-template-columns: 100px 2fr;
	align-items: center;
}
.img-logo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: url(../img/logo.jpg) 100% 100% no-repeat / cover;
}
.text-logo{
	font-size: 3.75em;
	margin-left: 20px;

}
.wallet{
	width: 350px;
	font-size: 1.5em;
}


.screen-1{
	max-width: 1000px;
	height: 545px;
	margin: 0 auto;
	background: url(../img/bg-screen-1.jpg) 100% 100% no-repeat / cover;
	color: #d7d7db;
	padding-top: 72px;
}
.head-1{
	width:420px;
	margin: 0;
	margin-left: 40px;
	font-size: 4.375em;
	line-height:70px; 
}
.button{
	width: 240px;
	height: 80px;
	background: #e56241;
	border:0;
	border-radius: 10px;
	font-size: 2.5em;
	font-weight: bold;
	margin:60px 0 0 8%;
	transition: 0.2s
}
.button a{
	text-decoration: none;
	color: #feead4;
}
.button:hover{
	transition: 0.4s;
	transform:scale(0.95);
}


.screen-2{
	height: 645px;
	max-width: 1000px;
	margin:0 auto;
	padding-top: 30px;
	background: #5e8c8b;
	color:#feead4;

}
.h1-screen-2,.h1{
	margin: 0;
	margin-bottom: 35px;
	text-align: center;
	font-size: 3.75em;
	font-weight: bold;
}
.rules{
	margin-left: 60px;
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-template-rows: 70px 1fr 1fr;
	grid-row-gap: 75px;
}
.rule{
	width: 40px;
	height: 40px;
	background:#feead4;
	color:#5e8c8b;
	border:5px solid #1a2233;
	text-align: center;
	font-size: 2.0625em;
}
.rule-text{
	font-size: 2.0625em;
	line-height: 40px;
}


.screen-3{
	height: 465px;
	max-width: 1000px;
	margin:0 auto;
	padding-top: 30px;
}
.h1-screen-3{
	color: #1a2233;
	margin: 0;
}
.orders{
	width: 100%;
	height: 346px;
	display: grid;
	grid-template-columns: repeat(3,258px);
	grid-column-gap: 47px;
	align-items:center;
	justify-content:center;
}
.order{
	height: 231px;
	width: 258px;
	background: #eeac9d;
	position: relative;
	display: grid;
	grid-template-columns: 192px;
	grid-template-rows: 133px 80px;
	justify-content:center;
	align-items:end;	
}
.order:nth-child(2){
	height: 290px;
	grid-template-columns: 192px;
	grid-template-rows: 180px 80px;
	margin-top: 56px;
}
.order:before{
	content: "1";
	position: absolute;
	bottom: 85%;
	left: -10%;
	width: 40px;
	height: 40px;
	background: #5e8c8b;
	border: 5px solid #1a2233;
	font-size: 3.0625em;
	text-align: center;
	color:#feead4;
	line-height: 30px;
}
.order:nth-child(2):before{
	content: "2";
	position: absolute;
	bottom: 88%;
}
.order:nth-child(3):before{
	content: "3";
	font-size: 2.9375em;
	line-height: 25px;
}
.order-text{
	font-size: 3.0625em;
	text-align: center;
	color:#1a2233;
	line-height: 50px;
}
.order-text span{
	font-size: 30px;
}
.order .button{
	width: 193px;
	height: 63px;
	text-align: center;
	line-height: 55px;
	margin: 0;
}


footer{
	height: 140px;
	max-width: 1000px;
	background: #5e8c8a;
	margin: 0 auto;
}
.text{
	display: inline-block;
	width: 45%;
	font-size: 1.5625em;
	color:#feead4;
}
.text a{
	color:#feead4;
}
.model-is{
	margin-left: 30px;
	margin-top: 60px;
}
.design-by{
	text-align: right;
}