body{box-sizing: border-box;}
.wrapper{
	min-height:505px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	transform-origin: center;
}
#wrapper_btn{
	width: 300px;
	height: 300px;
	border: 2px solid #333;
	background: #006100;
	background:#F4F3F3;
	margin: 0 auto;
	transition: all 0.3s;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
#player{
	width: 120px;
	height: 20px;
	background: black;
	color: white;
	text-align: center;
	font-size: 18px;
	margin: 40px auto 0px;
	padding: 10px 20px;
	border-radius: 10px;
	transition: transform 0.5s;
	transition: all 0.3s;
}
#player:hover{
	transform: translateY(-10px);
	transition: transform 0.3s;
}
.wrapper-score{
	display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    width: 220px;
    margin: 25px auto 30px;
}
.score {
    font-size: 1.3rem;
    font-weight: 600;
}


.btn,.btnRed{
	border: 2px solid black;
	font-size: 80px;
	color: #2f1c1c;
	transition: transform 0.5s;
}
.btn:hover{
	background: green;
	transform: translateY(-15px);
	transition: transform 0.3s;
	border-left: none;
	border-right: none;
	border-top: none;
	cursor: pointer;
}
.btnRed:hover{
	background: #d10000;
	transform: translateY(-15px);
	transition: transform 0.3s;
	color:#97f097;
	color: #fcc7c7;
	border-left: none;
	border-right: none;
	border-top: none;
}
.reset,.reload{
	width: 100px;
	height: 25px;
	padding: 10px;
	background: black;
	color: white;
	text-align: center;
	font-size: 1.1rem;
	cursor: pointer;
	border-radius: 20px;
	margin: 15px auto 10px;
}
#pop_up{
	display: none;
	opacity: 0;
	width: 500px;
	height: 80px;
	border-radius: 20px;
	background: green;
	color: white;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 0.3s;
	padding: 125px 0;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}
#pop_up span{
	font-size: 15px;
}
